version: '3.9'
services:
  frontend:
    build:
      context: ../frontend
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
    command: yarn dev
    depends_on:
      - backend
  backend:
    build:
      context: ../backend
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=development
    command: yarn dev
